absl-py
altair
anyio
apyori
area
argon2-cffi
argon2-cffi-bindings
asgiref
astor
asttokens
astunparse
atomicwrites
attrs
Babel
backcall
base58
beautifulsoup4
black
bleach
blinker
blis
bokeh
bs4
cachetools
catalogue
catboost
certifi
cffi
charset-normalizer
click
colorama
cycler
cymem
Cython
debugpy
decorator
defusedxml
docopt
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints
executing
fastapi
flatbuffers
fonttools
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.2.0/fr_core_news_md-3.2.0-py3-none-any.whl
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.2.0/fr_core_news_sm-3.2.0-py3-none-any.whl
funcy
future
gast
GDAL @ file:///C:/Users/robin/pipwin/GDAL-3.4.1-cp39-cp39-win_amd64.whl
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h11
h5py
idna
imbalanced-learn
importlib-metadata
iniconfig
install
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
Js2Py
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
langcodes
libclang
lightgbm
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mlxtend
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numexpr
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pathspec
pathy
patsy
pickleshare
Pillow
pipwin
platformdirs
plotly
pluggy
preshed
prometheus-client
prompt-toolkit
protobuf
pure-eval
py
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydeck
pydotplus
Pygments
pyjsparser
pyLDAvis
Pympler
pyparsing
PyPrind
pyproj
pyrsistent
pySmartDL
pytest
python-dateutil
pytz
pytz-deprecation-shim
pywinpty
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
Shapely @ file:///C:/Users/robin/pipwin/Shapely-1.8.1.post1-cp39-cp39-win_amd64.whl
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
statsmodels
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
testpath
textblob
tf-estimator-nightly
thinc
threadpoolctl
tinycss2
toml
tomli
toolz
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
voila
wasabi
watchdog
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xgboost
zipp